<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hibian.mapper.CourseMapper">

    <!-- 开启二级缓存 -->
    <!--<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>-->

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hibian.bean.Course">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="count" property="count" />
        <result column="flag" property="flag" />
        <result column="week" property="week" />
        <result column="createdate" property="createdate" />
        <result column="type" property="type" />
        <result column="del" property="del" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, count, flag, week, createdate, type, del
    </sql>

</mapper>
