<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>JavaEEStudy</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Test01</servlet-name>
    <servlet-class>com.test.Test01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Test01</servlet-name>
    <url-pattern>/Test01.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test02</servlet-name>
    <servlet-class>com.test.test02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test02</servlet-name>
    <url-pattern>/test02.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test03</servlet-name>
    <servlet-class>com.test.test03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test03</servlet-name>
    <url-pattern>/test03.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test04</servlet-name>
    <servlet-class>com.test.test04</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test04</servlet-name>
    <url-pattern>/test04.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test05</servlet-name>
    <servlet-class>com.test.test05</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test05</servlet-name>
    <url-pattern>/test05.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>test06</servlet-name>
    <servlet-class>com.test.test06</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test06</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>test07</servlet-name>
    <servlet-class>com.test.test07</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>test07</servlet-name>
    <url-pattern>/test07.do</url-pattern>
  </servlet-mapping>
</web-app>