.dropdown{
	position: relative;
	display: inline-block;
}
a{
	text-align: center;
	display: block;
	color: black;
	text-decoration: none;
	padding: 5px 6px;
}
ul{
	list-style: none;
}
.dropdown-content{
	display: none;
	width: 100px;
	position: absolute;
	background: ghostwhite;
	padding: 8px 8px;
}
.dropdown:hover .dropdown-content{
	display: block;
}
